.upper {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.forca0 {
    margin-top: 58px;
}

.forca0 img {
    width: 466.67px;
}

.restartgame button {
    margin-top: 89px;
    background: #27AE60;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

.word {
    position: absolute;
    bottom: 10px;
    right: 400px;
}

.word h1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.letras {
    width: 684px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letras button {
    width: 40px;
    height: 40px;
    background-color: #E1ECF4;
    color: #7AA7C7;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #7AA7C7;
    margin-right: 12px;
    margin-top: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letras button:hover{
    cursor: pointer;
}
.letras button:disabled {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    cursor: not-allowed;
}


.escondido {
    display: none;
}


.Verde{
    color:green;
}

.Vermelho{
    color:red;
}